<div class="wrapper">
	<section class="home-header">
		
	</section>
	<section class="">
		<div class="">
			<ul class="row">
				<div class="col-md-4"><li><a href="file:///D:/Rabota/DOFAMIN/Shumer/category.html">ПСИХОЛОГИЯ ЧЕЛОВЕКА</a></li></div>
				<div class="col-md-4"><li><a href="#">Психология личности</a></li></div>
				<div class="col-md-4"><li><a href="#">МОЗГ</a></li></div>
				<div class="col-md-4"><li><a href="#">ПАМЯТЬ</a></li></div>
				<div class="col-md-4"><li><a href="#">МЫШЛЕНИЕ</a></li></div>
				<div class="col-md-4"><li><a href="#">ВНИМАНИЕ</a></li></div>
				<div class="col-md-4"><li><a href="#">КОНЦЕНТРАЦИЯ</a></li></div>
				<div class="col-md-4"><li><a href="#">СОН</a></li></div>
				<div class="col-md-4"><li><a href="#">ЯЗЫКИ</a></li></div>
				<div class="col-md-4"><li><a href="#">ЛОГИКА</a></li></div>
				<div class="col-md-4"><li><a href="#">СКОРОЧТЕНИЕ</a></li></div>
				<div class="col-md-4"><li><a href="#">МАТЕМАТИКА</a></li></div>
				<div class="col-md-4"><li><a href="#">Здоровый образ жизни</a></li></div>
				<div class="col-md-4"><li><a href="#">ТВОРЧЕСТВО</a></li></div>
			</ul>	
		</div>
	</section>
</div>