<header>
	<nav>
		<ul>
			<li><a href="file:///D:/Rabota/DOFAMIN/Shumer/index.html">Главная</a></li>
			<li><a href="file:///D:/Rabota/DOFAMIN/Shumer/category.html">ПСИХОЛОГИЯ ЧЕЛОВЕКА</a></li>
			<li>Психология личности</li>
			<li>МОЗГ</li>
			<li>ПАМЯТЬ</li>
			<li>МЫШЛЕНИЕ</li>
			<li>ВНИМАНИЕ</li>
			<li>КОНЦЕНТРАЦИЯ</li>
			<li>СОН</li>
			<li>ЯЗЫКИ</li>
			<li>ЛОГИКА</li>
			<li>СКОРОЧТЕНИЕ</li>
			<li>МАТЕМАТИКА</li>
			<li>Здоровый образ жизни</li>
			<li>ТВОРЧЕСТВО</li>
		</ul>
	</nav>
	<div id="hexNav" class="openNav">
		<div id="menuBtn">
			<svg viewbox="0 0 100 100">
				<polygon points="50 2 7 26 7 74 50 98 93 74 93 26" fill="none" stroke-width="4" stroke="#31b0d5" stroke-dasharray="0,0,300"/>
			</svg>
		</div>
		<div class="icon"></div>
	</div>
</header>