	<section class="home-category">
		<div class="">
			<ul class="home-category__menu">
				<li class="home-category__items"><a href="file:///D:/Rabota/DOFAMIN/Shumer/category.html">ПСИХОЛОГИЯ ЧЕЛОВЕКА</a></li>
				<li class="home-category__items"><a href="#">Психология личности</a></li>
				<li class="home-category__items"><a href="#">МОЗГ</a></li>
				<li class="home-category__items"><a href="#">ПАМЯТЬ</a></li>
				<li class="home-category__items"><a href="#">МЫШЛЕНИЕ</a></li>
				<li class="home-category__items"><a href="#">ВНИМАНИЕ</a></li>
				<li class="home-category__items"><a href="#">КОНЦЕНТРАЦИЯ</a></li>
				<li class="home-category__items"><a href="#">СОН</a></li>
				<li class="home-category__items"><a href="#">ЯЗЫКИ</a></li>
				<li class="home-category__items"><a href="#">ЛОГИКА</a></li>
				<li class="home-category__items"><a href="#">СКОРОЧТЕНИЕ</a></li>
				<li class="home-category__items"><a href="#">МАТЕМАТИКА</a></li>
				<li class="home-category__items"><a href="#">Здоровый образ жизни</a></li>
				<li class="home-category__items"><a href="#">ТВОРЧЕСТВО</a></li>
			</ul>	
		</div>
	</section>
