<section class="menu-left">
	<div id="hexNav" class="openNav">
		<div id="menuBtn">
			<svg viewbox="0 0 100 100">
				<polygon points="50 2 7 26 7 74 50 98 93 74 93 26" fill="none" stroke-width="4" stroke="#00C6FF" stroke-dasharray="0,0,300"/>
			</svg>
		</div>
		<div class="icon"></div>
	</div>
	<nav class="menu-left__background">
		<ul class="menu-left__menu">
			<li><a href="file:///D:/Rabota/DOFAMIN/Shumer/index.html">Главная</a></li>
			<li><a href="file:///D:/Rabota/DOFAMIN/Shumer/category.html">ПСИХОЛОГИЯ ЧЕЛОВЕКА</a></li>
			<li><a href="#">Психология личности</a></li>
			<li><a href="#">МОЗГ</a></li>
			<li><a href="#">ПАМЯТЬ</a></li>
			<li><a href="#">МЫШЛЕНИЕ</a></li>
			<li><a href="#">ВНИМАНИЕ</a></li>
			<li><a href="#">КОНЦЕНТРАЦИЯ</a></li>
			<li><a href="#">СОН</a></li>
			<li><a href="#">ЯЗЫКИ</a></li>
			<li><a href="#">ЛОГИКА</a></li>
			<li><a href="#">СКОРОЧТЕНИЕ</a></li>
			<li><a href="#">МАТЕМАТИКА</a></li>
			<li><a href="#">Здоровый образ жизни</a></li>
			<li><a href="#">ТВОРЧЕСТВО</a></li>
		</ul>
	</nav>
</section>