@font-face {
    font-family: 'AleksandraC';
    src: url('aleksandrac-400-normal.woff2') format('woff2'), url('aleksandrac-400-normal.woff') format('woff'), url('aleksandrac-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}