$blue: #00C6FF;
$white: #ffffff;
$back: #111133;
$backmenu: #252830;
/*--------------------------------------------------------------
ГЛАВНАЯ СТРАНИЦА
--------------------------------------------------------------*/

/** {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}*/
body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	/*line-height: 1.5em;*/
	/*position: relative;*/
}
ul {
	padding: 0;
}
/*
*ШАПКА ГЛАВНОЙ
*/
.home-header {
	height: 400px;
	background-color: #2f3551;

}