@font-face {
	font-family: 'Monitorica';
	src: url('../fonts/Monitorica.eot');
	src: url('../fonts/Monitorica.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Monitorica.woff') format('woff'), 
		url('../fonts/Monitorica.ttf') format('truetype'), 
		url('../fonts/Monitorica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'aleksandrac';
	src: url('../fonts/aleksandrac.eot');
	src: url('../fonts/aleksandrac.eot?#iefix') format('embedded-opentype'),
		url('../fonts/aleksandrac.woff') format('woff'), 
		url('../fonts/aleksandrac.ttf') format('truetype'),
		url('aleksandrac.svg#aleksandrac') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*--------------------------------------------------------------
ГЛАВНАЯ СТРАНИЦА
--------------------------------------------------------------*/

/** {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}*/
body {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 16px;
	color: #ffffff;
	/*line-height: 1.5em;*/
	/*position: relative;*/
}
ul {
	padding: 0;
	margin: 0;
}
/*h1 {
	font-family: 'Ubuntu', Arial, sans-serif;
}
p {
	font-family: 'PT Serif', Arial, sans-serif;
}*/