/*--------------------------------------------------------------
ГЛАВНАЯ СТРАНИЦА
--------------------------------------------------------------*/

/** {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}*/
body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	color: #ffffff;
	/*line-height: 1.5em;*/
	/*position: relative;*/
}
ul {
	padding: 0;
	margin: 0;
}
