/*
*Стили Обёртки
*/
.wrapper {
	transition-duration: 0.5s;
	transition-timing-function: swing;
	background-color: #000;
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0;
	overflow: hidden;
}
.wrapper.open {
	transform: translateX(250px) translateY(0);
	-webkit-transform: translateX(250px) translateY(0);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

